
body {
	background-image: url('wallpaper.jpg');
}

.header {
	padding: 14px 10px;
}

.header h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

.nav-pills{
    border: 2px solid #000;
    background-color: #1c1c1c;
}

.nav {
    background-color: 333333;
}

.side-bar, .body {
	color: #999999;
	background-color: #1c1c1c;
	border: 2px solid #000;
}

.container {
	width: 100%;
}

a:link {
	color: #ff9900;
}

a:visited {
	color: #dd7700;
}

a:hover {
	color: #ffaa00;
}

h1, h2 {
	color: #ff9900;
}
.body h2, .side-bar h2 {
	border-bottom: 1px solid #000;
}

.body .container p {
	font-size: 16px;
}